<head>
    {{> script-style}}
    <meta name="keywords" content="Салехард, История Салехарда, Ямал, Достопримечательности Салехарда">
    <meta name="description" content="Сайт о городе Салехард: история, культура, достопримечательности">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    {{> header}}
    <img src="images/5shd.jpg" id="featured-image">
    <main>
        <section>
            <article>
                <h2 id="city">Город Салехард</h2>
                <p>Салехард — главный город Ямало-Ненецкого автономного округа, расположенный на правобережье Оби. Это
                    единственный город на планете, который построен на широте Северного Полярного круга. В переводе с
                    ненецкого название «Салехард» означает «город на мысу».</p>
            </article>
            <h2 id="history">История города</h2>
            <article>
                <h3>Основные моменты</h3>
                <p>Салехард – один из старейших городов региона. Он был основан в конце XVI века и до 1933 года
                    назывался Обдорском. За большой вклад в освоение Русского Севера с 1990 года Салехард включен в
                    Список исторических городов России. Сегодня здесь сосредоточены главные органы управления
                    федеральным округом. Кроме того, Салехард играет роль культурного центра для коренных народов,
                    проживающих на территории Ямала.</p>
                <p>Салехард имеет продуманную планировку. За последние 15-20 лет центральную часть столицы Ямала
                    отстроили заново, и она стала напоминать архитектурную выставку. Сегодня в городе можно увидеть
                    роскошное здание правительства округа, которое называют Белым Домом, ультрасовременный мост «Факел»,
                    крупные супермаркеты и развлекательные центры. Большинство новых зданий окрашено в яркие цвета. Это
                    очень важно для северного города, ведь на его улицах две трети года лежит снег. </p>
                <p>Путешественники навещают Салехард, как правило, проездом. Здесь останавливаются группы, которые
                    совершают водные и пешеходные маршруты в горах Полярного Урала или организуют экспедиции в район
                    «Мертвой дороги»: Чум – Лабытнанги – Игарка.</p>
                <p>Многие приезжают в Салехард в День оленевода, который отмечается каждый год в конце марта – начале
                    апреля. Во время красочного праздника можно понаблюдать за азартными гонками на оленьих упряжках,
                    увидеть соревнования по прыжкам и метанию аркана, а также покататься на нартах. В День оленевода
                    проводятся экскурсии в чумы, ремесленные и продуктовые ярмарки и конкурсы национальной одежд</p>
            </article>
            <article>
                <h3>Основание города</h3>
                <p>В 1595 году пришедшие в низовья Оби русские казаки основали в устье Полуя острог. Его назвали
                    Обдорским, что в переводе с языка коми означает «поселение на Оби». Это была самая северная русская
                    крепость на территории Сибири, и с 1635 года ее стали называть Обдорской заставой.</p>
                <p>В начале XIX века ненужные укрепления снесли, и Обдорск превратился в село, которое входило в состав
                    Тобольской губернии. Благодаря суровому климату и удаленности, в этих местах стали жить ссыльные,
                    причем роль северной тюрьмы Обдорск играл не только в царские, но и в советские времена. В 1930 году
                    его сделали административным центром округа, а спустя три года переименовали в Салехард. Статус
                    города районный поселок получил в 1938 году. </p>
            </article>
            <article>
                <h3>Географическое положение и климат</h3>
                <p>Салехард построен на Полуйской возвышенности, которая является частью протяженной Западно-Сибирской
                    равнины. Город лежит на границе двух климатических зон – субарктической и умеренной. Он испытывает
                    суровое влияние Северного Ледовитого океана.</p>
                <p>Около 200 дней в году эти земли покрывает устойчивый снежный покров. Средняя температура января
                    составляет -23,2 °С, причем морозы нередко достигают -50...-40 °С. В июле средняя температура
                    воздуха держится в районе +15 °С, но в отдельные дни может быть очень жарко – до +25...+30 °С.</p>
                <p>Летом в ямальской столице бывает не так много комаров, как в окрестной тундре. Причина этого –
                    удачное расположение Салехарда. Город построен на холме и со всех сторон обдувается ветрами. Те
                    путешественники, которые в летние месяцы планируют выезжать из Салехарда в менее населенную
                    местность, должны быть готовы к встрече с огромными полчищами мошек и комаров. Чтобы проблем было
                    меньше, нужно одеваться в полностью закрытую одежду и использовать сильные репелленты. Спасение
                    наступает после только первых заморозков, когда надоедливый гнус идет на убыль.</p>
                <p>За год над Салехардом выпадает 450-500 мм осадков. Большая их часть выливается в виде летних дождей,
                    пик которых приходится на июль и август.</p>
                <p>В столице Ямала можно наблюдать полярный день, но здесь не бывает полярной ночи. Полярный день
                    наступает, когда верхний край солнечного диска не заходит за линию горизонта. Он длится с 7 июня по
                    7 июля.</p>
            </article>
            <article>
                <h2 id="stay">Где остановиться</h2>
                <p>Для размещения туристов в Салехарде построены гостиницы, мини-отели, хостелы и гостевые дома.
                    Недорогие номера от 750 рублей за ночь предлагают в гостинице-хостеле «Девять сов», которая
                    расположена на ул. Королева, 8А, в шаговой доступности от центра города.</p>
                <p>В бюджетном диапазоне, от 1100 до 1500 рублей, обслуживают туристов гостиницы «На Обской» (ул.
                    Обская, 18), «Юлана» (ул. Республики, 17) и «Русский Север» (ул. Республики, 3а). Более дорогие
                    варианты предлагают отели «Ливадия» (ул. Броднева, 62), «Норд» (ул. Богдана Кнунянца, 16), «Полярный
                    Круг» (ул. Богдана Кнунянца, 70), «Арктика» (ул. Республики, 38), «Азимут-89» (ул. Пермякова, 15),
                    «Лантана» (ул. Подшибякина, 50), «Ямал» (ул. Республики, 100), «Юрибей» (проспект Молодежи, 11) и
                    мини-отель «Метелица» (микрорайон Солнечный, 35).</p>
            </article>
            <article>
                <h2 id="how_to_get_there">Как добраться</h2>
                <p>Салехард построен на правом берегу Оби, в устье реки Полуй. От Москвы его отделяет 2436 км. Местный
                    аэропорт удален на 7 км к северу от центра города. Он принимает регулярные рейсы из Москвы,
                    Санкт-Петербурга, Екатеринбурга, Надыма, Тарко-Сале, Ноябрьска и Тюмени. В сезон в Салехард летают
                    также самолеты из Омска и Нового Уренгоя. Кроме того, столица Ямала и некоторые населенные пункты
                    этого округа связаны вертолетным сообщением.</p>
                <p>Из аэропорта до города ходят автобусы № 1 и № 5 и маршрутные такси № 1 и № 7. Они отправляются каждые
                    15-20 минут с 6.00 до 22.00. Для того, чтобы попасть в Салехард поздно вечером или ночью, туристы
                    пользуются услугами такси.</p>
                <p>Железнодорожная станция находится в 16 км от Салехарда – на левом берегу Оби, в городе Лабытнанги.
                    Чтобы от железнодорожного вокзала добраться до Салехарда, вначале нужно доехать до паромной
                    переправы через Обь. Это можно сделать на такси, попутном транспорте или частных маршрутках, которые
                    курсируют от площади Победы в Лабытнангах. На противоположном, правом берегу реки путешественников
                    также ожидают маршрутки. За 20-30 минут на них нетрудно добраться до центра Салехарда.</p>
            </article>
        </section>
        <aside>
            <h2 id="Interesting_facts">Интересные факты</h2>
            <ul>
                <li><em>Название</em> города в переводе с ненецкого означает <i>"Степное поселение"</i>.</li>
                <li>
                    <blockquote><strong>"Салехард</strong> — единственный город в мире, который находится на полярном
                        круге". </blockquote>
                </li>
            </ul>
        </aside>
        <article>
            <h2 id="nationality_data">
                Данные о национальностях проживающих в городе на 2010 год:
            </h2>
            <table class="table table-cols-3">
                <thead class="table_head">
                    <tr class="table_row">
                        <th class="table_col">Национальность</th>
                        <th class="table_col">Численность (чел.)</th>
                        <th class="table_col">Процентное соотношение</th>
                    </tr>
                </thead>
                    <tbody class="table_body">
                        <tr class="table_row">
                            <td class="table_col">Русские</td>
                            <td class="table_col">26 252</td>
                            <td class="table_col">61,27%</td>
                        </tr>
                        <tr class="table_row">
                            <td class="table_col">Татары</td>
                            <td class="table_col">3 641</td>
                            <td class="table_col">8,50%</td>
                        </tr>
                        <tr class="table_row">
                            <td class="table_col">Украинцы</td>
                            <td class="table_col">2 484</td>
                            <td class="table_col">5,80%</td>
                        </tr>
                        <tr class="table_row">
                            <td class="table_col">Ханты</td>
                            <td class="table_col">1 320</td>
                            <td class="table_col">3,08%</td>
                        </tr>
                        <tr class="table_row">
                            <td class="table_col">Ненцы</td>
                            <td class="table_col">1 211</td>
                            <td class="table_col">2,83%</td>
                        </tr>
                        <tr class="table_row">
                            <td class="table_col">Коми-зыряне</td>
                            <td class="table_col">1 098</td>
                            <td class="table_col">2,56%</td>
                        </tr>
                    </tbody>
                </table>
            </article>
        <h2 id="code_snippet">Snippet код</h2> <code>
            &lt;p&gt;Пример&lt;/p&gt;
        </code>
        <h3>Псевдографика:</h3>
        <pre>
+------------+
|  Салехард  |
+------------+
        </pre>
        <section>
            <p><strong>Формула успеха:</strong> Успех = Труд<sup>2</sup> + Упорство<sub>удача</sub></p>
            <p class="underline">Подчеркивание</p>
        </section>
    </main>
    {{> time }}
    {{> footer }}
    <button id="back-to-top" title="Вернуться наверх">&#9757;</button>
</body>

</html>